/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        font-family: 'Lato', sans-serif;
    }
    
    .navbar {
        border-radius: 0;
        margin-bottom: 0;
    }
    
    .navbar-default {
        background-color: #011422;
        border-color: transparent;
    }
    
    .navbar-default a {
        color: #fff !important;
    }
    
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #00AEEB;
}
    
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #00AEEB;
    }
    
    .dropdown-menu {
        background-color: #00AEEB;
    }
    
    .dropdown-menu>li>a:hover {
        background-color: #20c1f7;
    }
    
    .color-dashboard {
        color: #fff;
        background-color: #00AEEB;
        min-height: 450px;
        display: table;
    }
    
    .dashboard-inner {
        display: table-cell;
        vertical-align: middle;
    }
    
    .dashboard-inner h1 {
        font-weight: bold;
    }
    
    #dash-sdk {
        background-color: #F7F7F7;
    }
    
    #dash-sdk .sdk-inner {
        padding: 20px 0;
    }
}