/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html, body {
        height: 100%;  
        background-color: #fff;
    }
    
    body {
        color: #fff;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);
        line-height: 1.42857143;
    }
    
    #header-left {
    }
    
    .navbar {
        border-radius: 0;
        margin-bottom: 0;
    }
    
    .navbar-default {
        border-color: transparent;
        background-color: #3e4460;
    }
    
    .navbar-default .navbar-brand {
        color: #fff;
        font-weight: bold;
    }
    
    #header-left .navbar-header {
        width: 100%;
        height: 120px;
        display: table;
    }
    
     #header-left .navbar-header .navbar-brand {
        font-weight: bold;
        
    }
    
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    
    #header-left .navbar-default {
        background-color: #2EACDC;
        height: 120px;
    }
    
    #header-left .navbar-default .navbar-brand {
        color: #fff;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        line-height: 90px;
    }
    
    #header {
        color: #000;
        text-shadow: none;
    }
    
    #wrapper-site {
       color: #000;
    }
    
    .col-left {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #3e4460;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38628a+0,406474+100 */
        background: #38628a; /* Old browsers */
        background: -moz-linear-gradient(top,  #38628a 0%, #406474 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38628a), color-stop(100%,#406474)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #38628a 0%,#406474 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #38628a 0%,#406474 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #38628a 0%,#406474 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #38628a 0%,#406474 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38628a', endColorstr='#406474',GradientType=0 ); /* IE6-9 */

    }
    
    #wrapper-site #body-wrapper {
        color: #000;
        text-shadow: none;
    }
    
    #wrapper-site #body-content {
        color: #000;
    }
    
    nav.sidebar #nav.nav>li {
        
    }
    
    nav.sidebar #nav.nav>li>a{
        font-size: 18px;
    }
    
    nav.sidebar #nav.nav>li a{
        color: #fff;
        text-decoration: none;
        -webkit-transition: background .2s linear 0s;
        -moz-transition: background .2s linear 0s;
        -o-transition: background .2s linear 0s;
        transition: background .2s linear 0s;
    }
    
    
     nav.sidebar #nav.nav li ul {
         padding: 0;
     }
    
    nav.sidebar #nav.nav>li>ul>li {
        list-style: none;
    }
    
    nav.sidebar #nav.nav>li>ul>li a{
        color: #fff;
        text-decoration: none;
        -webkit-transition: background .2s linear 0s;
        -moz-transition: background .2s linear 0s;
        -o-transition: background .2s linear 0s;
        transition: background .2s linear 0s;
        display: block;
        padding: 10px 0px 10px 0px;
    }
    
    nav.sidebar #nav.nav>li>ul>li a i {
        width: 45px;
        text-align: center;
    }
    
    nav.sidebar #nav.nav>li> a:hover{
        color: #111421;
    }
    
    nav.sidebar #nav.nav>li>ul>li a:hover{
        background-color: #111421;
    }
    
    
    
}